[2014-05-16 12:46] 3lvis opened #1 "Support custom xcdatamodeld name"

[2014-05-17 13:05] #1 closed, assigned to nobody

[2015-02-16 12:38] kostiakoval opened #7 "Stop using NSThread!"

[2015-02-16 12:39] NSElvis commented on #7
@kostiakoval: Would you mind elaborating?

[2015-02-16 12:43] kostiakoval opened #8 "Stop using NSThread for correct use checking!"
NSmananagedObjectContext use dispatchQueues, and they are not the same as threads.
I can make completely correct code which will show that i did smt wrong.

Example.
[code]
If I run this code on main thread, it will show me an error, because `performBlockAndWait` is performed on the same thread

it's better to turn on CoreData environment variable to check correct multithread  usage

[2015-02-16 12:47] NSElvis commented on #8
@kostiakoval You could do something like this instead

https://github.com/NSElvis/DATAStack/blob/master/Demo/Demo/Controllers/ANDYMainTableViewController.m#L75

[2015-02-16 12:48] NSElvis commented on #8
@kostiakoval What's the reason why you are using a background thread and `performBlockAndWait`? Wouldn't you want to use `performBlock` instead?

I'll look into your issue, thanks :)

[2015-02-16 12:57] kostiakoval commented on #8
The point is that thread != contextQueue, you don't know on what thread the queue will actually perform the work.
I can't do the way you show because I do batch insert, and I need to do it partially synchronous, I need blockAndWait :)

[2015-02-16 12:58] kostiakoval commented on #8
If you just abstract and think of it as:
performBlockAndWait not work properly, it's a smell that smt is wrong with that functionality ( I think so )

[2015-02-16 13:01] #7 closed

[2015-02-18 23:06] NSElvis commented on #8
@kostiakoval: this shouldn't be an issue anymore, I removed the ability of creating a backgroundContext without providing a block.

https://github.com/NSElvis/DATAStack/releases/tag/2.6

Thanks :)

[2015-02-18 23:06] #8 closed

[2015-03-17 09:58] kostiakoval opened #10 "The async code shouldn't have a completion block but it should just return values."
https://github.com/NSElvis/DATAStack/blob/master/Tests/Tests/Tests.m#L98
In the example of running test i need to make a __bloc variable to work with it.
That looks not perfect :(, good but not perfect.
I would prefer to have a method without completion block

[2015-03-17 10:04] NSElvis commented on #10
@kostiakoval what do you mean? It's a synchronous block, you can see them also in

NSArray's `enumerateObjectsUsingBlock`

[2015-03-17 10:05] NSElvis commented on #10
You don't have to test if the block is in fact been asynchronous, you should assume it. Same as we assume NSArray's `objectAtIndex` does it's job.

[2015-03-17 10:24] kostiakoval commented on #10
Ohh, you are right. Closing this one
[code]

[2015-03-17 10:24] #10 closed

[2015-03-24 06:53] kostiakoval opened #13 "The UnitTest check shouldn't be run on the production app."
When I run app in production I don't want the code to run "Is it UnitTest target" all the time.
The solution would be co create a separate subclass for DATAStack, that would override those methods and do them in sync way.

[2015-03-24 06:55] NSElvis commented on #13
@kostiakoval this might be a bug on https://github.com/hyperoslo/NSObject-HYPTesting

[2015-03-24 07:00] NSElvis commented on #13
@kostiakoval Do mind checking if you're using version `3.0.2`?

[2015-03-24 07:57] kostiakoval commented on #13
I mean this it looks a bit strange for me that inside the implementation of "performInBackground" you run `isUnitTesting`
I would go for other solution

[2015-03-24 08:42] NSElvis commented on #13
Why this is needed?

[2015-03-24 09:35] kostiakoval commented on #13
It works right now.
Goal -> I don't want to run the `isUnitTesting` every time I do `performInBackground` on the production,
Because I know that in production it's not unit test :).

So the UniTest check should be outside the DATAStack.
My implementation idea
[code]

[2015-03-24 09:53] NSElvis commented on #13
I guess it's a detail, I don't see the added value of this.

[2015-03-24 09:56] #13 closed

[2015-04-19 11:03] 3lvis opened #16 "Add strict mode"
http://developer.android.com/reference/android/os/StrictMode.html

Don't allow saves in the main thread

[2015-08-28 18:53] 3lvis opened #17 "Add support for preloading from sqlite if found"
If a `.sqlite` file has been added to the project that has the same name as the Core Data model, then the contents of this sqlite file should be used to pre-fill Core Data.

[2015-08-28 21:07] #17 closed

[2015-09-30 14:06] denrase opened #19 "Calling drop crashes app (persistentstorecoordinator sqlite error code:522 'not an error')"
Hey,

we got an error when calling drop and then trying to use the stack again. This is due to the fact that the wal and shm file are not deleted (http://stackoverflow.com/questions/18277092/persistentstorecoordinator-sqlite-error-code522-not-an-error). We have implemented a workaround in a subclass for now which fixes the issue.

br
denis

[code]

[2015-09-30 14:27] 3lvis commented on #19
Thanks :heart:

[2015-09-30 14:49] 3lvis commented on #19
Fixed on https://github.com/3lvis/DATAStack/releases/tag/3.1.1

[2015-09-30 14:49] #19 closed

[2015-10-01 07:12] denrase commented on #19
hey, awesome! thanks! :+1:

[2015-10-06 05:59] 3lvis opened #21 "Unit test disposableMainContext"

[2015-10-06 05:59] 3lvis commented on #21
We could try to replicate the #125 bug in Sync.

[2015-10-08 08:40] 3lvis opened #22 "UIAlertView is deprecated"
[code]

[2015-10-08 17:13] 3lvis commented on #21
#125 bug was something else.

[2015-10-14 20:18] 3lvis commented on #22
I fixed by removing this and replacing it by an exception

[2015-10-14 20:18] #22 closed

[2015-10-19 19:34] 3lvis commented on #21
Fixed

[2015-10-19 19:34] #21 closed

[2015-10-19 19:34] 3lvis commented on #16
Not biggie, closing.

[2015-10-19 19:34] #16 closed

[2015-11-18 02:15] syky27 opened #27 "Not saving"
HI! I have following code, the problem is that i gets executed but it never saves the modified inspection.
I am honestly not sure if it is my mistake or not. Would you mind to take a look?

[code]

Thank you.

[2015-11-18 02:41] syky27 commented on #27
So I managed to get it to work with following:

[code]

I am deeply sorry for my lack of knowledge, just if you could confirm that this is the way to go....

Thanks

[2015-11-18 04:22] 3lvis commented on #27
Hi @syky27,

I'm glad you got it working, specially using a background context. It's better to avoid mutating any managed object that comes from a main thread. One thing that I would change is how you mutate the object, right now you are mutating the object in the completion block of the POST request, which I believe is in the main thread, even though the Inspection object comes from a Core Data b

[2015-11-18 04:22] #27 closed

[2015-11-18 04:23] syky27 commented on #27
Allright, thank you very much, will do.

BTW, this is amazing library with amazing support!

[2015-11-18 04:42] 3lvis commented on #27
Thanks :heart:

[2015-11-27 14:40] marcospolanco opened #28 "Main thread context not working"
I am facing an issue where operations against the dataStack.mainContext are not effective; for example,

print(dataStack.mainContext.hasChanges) // true
try! dataStack.mainContext.save()
print(dataStack.mainContext.hasChanges) // false

However, when the application reloads, the changes have not been committed to disk (reloading the database programmatically "works", but application restart does n

[2015-11-27 15:17] 3lvis commented on #28
Hi @marcospolanco,

Are you mutating data on the main thread? Or is this related to something else?

Best,

[2015-11-28 06:13] 3lvis commented on #28
@marcospolanco Here's an example on saving things in the main thread, btw. Although, I would stick to mutating data in a background context since that doesn't block your UI.

https://github.com/3lvis/DATAStack/blob/master/DemoSwift/ViewController.swift#L56-L62

I hope this fixes your issue.

:bouquet:

[2015-11-28 06:13] #28 closed

[2015-11-28 13:17] marcospolanco commented on #28
Yes, my intention was indeed to mutate the database. I understand the benefits of background threading and I do follow the pattern you point out, with the caveat that my attributes are @NSManaged. Do note that the behavior manifests on my end with the Sync demo app, where creation with the 'Background' button persists whereas creation with the 'Main' button does not.

[2015-12-11 13:24] markkrenek commented on #28
I have the same issue in my app. dataStack.mainContext.save() does not persist to the store file.

Using performInNewBackgroundContext works because it's persistentStoreCoordinator is explicitly set. But when using mainContext, I see no place in DATAStack where the writer stack is saved. Saving changes to mainContext pushes the changes to the writerContext, but you also need to save writerContext

[2015-12-11 13:37] 3lvis commented on #16
https://github.com/hyperoslo/NSManagedObjectContext-HYPSafeSave

[2015-12-11 13:37] 3lvis commented on #28
@markkrenek I'm not 100% what causes this issue, specially since as you can see [in the included example it works](https://github.com/3lvis/DATAStack/blob/master/DemoSwift/ViewController.swift#L56-L62).

Any reason why you have to do this on the main thread instead of using a background one? In general, is not recommended to do any data mutation on the main thread.

I have even considering adding

[2015-12-11 13:38] markkrenek commented on #28
OK, I see what we're supposed to so. Call `self.dataStack.persistWithCompletion()` instead of directly calling  `dataStack.mainContext.save()`

[2015-12-11 13:42] markkrenek commented on #28
The example works because you have a call to persistWithCompletion in applicationDidEnterBackground. In general, when I save, I want it persisted immediately and not unpredictable at some point in the future.

[2015-12-11 13:45] 3lvis commented on #28
@markkrenek I see, what about?

:grinning:

[2015-12-11 13:47] markkrenek commented on #28
I save on the main context for the case where you are making a simple modification on an existing object in the UI. I don't see the necessity to create a background context, load the object into the background context, make the change, and then save and have it propagate back to the main. I understand the use case for background contexts, especially when you might NOT want to save the changes. Or

[2015-12-11 13:49] 3lvis commented on #28
I understand :) I'll add the fact that you need to use `persistWithCompletion()` to the README.

[2015-12-11 13:49] markkrenek commented on #28
The main reason for blocked UI is writing to the persistent store. But that is taken care of with the background writerContext. So making changes directly on the main context should not be that bothersome.

[2015-12-11 13:49] marcospolanco commented on #28
I likewise use the mainContext for a delete operation, which should perform rapidly. Thanks for everything, Elvis!

[2015-12-29 22:56] 3lvis opened #29 "Helpers"
Add fetch helpers

[2015-12-29 22:56] #29 closed

[2016-01-05 21:19] SirSJR opened #30 "Missing parameter name in completion block causes an error"
Hi!

The method: performInNewBackgroundContext: is missing a parameter name in the completion block.

[code]

[2016-01-05 22:34] 3lvis commented on #30
How would you fix that?

[2016-01-06 12:37] SirSJR commented on #30
The problem is that the parameter name in the block, declared in the method performInNewBackgroundContext: is missing.

Im not very familiar with Swift or generating bridging headers.
**I am assuming that Xcode is translating the function declaration in Swift to Objective-C methods, available in the header.

In the class DATAStack.swift the function is declared as:
[code]

Could changing the funct

[2016-01-06 14:47] 3lvis commented on #30
I sincerely think that this isn't something that we can fix, but I might be wrong.

Changing `-> ()` for `-> Void` changes nothing because they are equivalent.

[2016-01-06 15:08] SirSJR commented on #30
Yes, I agree.

[2016-01-07 00:56] 3lvis commented on #30
@SirSJR That's a good idea!

[2016-01-07 11:31] SirSJR commented on #30
Great, I will close this issue and make a pull request.

[2016-01-07 11:31] #30 closed

[2016-02-08 12:32] 3lvis opened #36 "Add unit tests to have one model and different sqlite stores"
https://github.com/3lvis/DATAStack/pull/32

[2016-04-05 16:33] mariusfeldmann opened #39 "Add support for 'External Record Files'"
It basically comes down to these three option values that need to be added to the array of options when creating the PersistentStore.

https://github.com/3lvis/DATAStack/blob/master/Source/DATAStack.swift#L113
https://github.com/3lvis/DATAStack/blob/master/Source/DATAStack.swift#L105

[code]

In addition to that we need to ensure that the folder exists. So something like this should do the trick.

[2016-04-06 07:17] 3lvis commented on #39
Sounds like a useful feature, thanks ❤️

[2016-04-13 16:08] justinmakaila opened #41 "Ability to drop certain collections/entities"
It'd be great to be able to drop a certain collection/entity rather than dropping the full database.

[2016-04-13 19:05] justinmakaila commented on #41
I'm currently working with a local installation of this library (I don't use CocoaPods and it doesn't look like there's Carthage support :-1:), so I haven't had time to formally PR, but I'm using this method:

[code]

[2016-04-13 19:06] justinmakaila opened #42 "Carthage Support"
Carthage Support would be sweet

[2016-04-13 19:29] 3lvis commented on #42
Hi @justinmakaila,

Should be simple to add that since DATAStack doesn't have any dependencies. I'll look into it :)

[2016-04-13 19:35] justinmakaila commented on #42
@3lvis Great! Lemme know if you have any issues; I'm happy to help. I'll definitely be taking a swing at it this weekend if it's not in; I've been using it as a manually included copy-paste dependency this week ;)

[2016-04-13 22:04] 3lvis commented on #42
Just tried

[code]

In my Cartfile and it worked! 🎉

[2016-04-13 22:04] #42 closed

[2016-04-13 22:07] 3lvis commented on #41
💥

[2016-04-13 22:09] justinmakaila commented on #42
Awesome! I have a few PRs in mind that I'm going to be filing this weekend. This crosses one of them off my list 😈

Justin Makaila

Sent from
https://polymail.io/

On Wed, Apr 13, 2016 at 18:04 "Elvis Nuñez"

<
mailto:

Just tried

github "3lvis/DATAStack"

In my Cartfile and it worked!

🎉

—

You are receiving this because you were mentioned.

Reply to this email directly or
https://github.com/3l

[2016-04-20 00:19] justinmakaila commented on #41
Oh, I didn't realize that `NSBatchDeleteRequest` is iOS 9 only...

[2016-04-20 20:08] justinmakaila opened #45 "Add an error to `persistWithCompletion`"

[2016-04-20 21:34] alberttra opened #46 "Data on main context is not being saved"
When i run the DemoSwift app, then tap on bar button on the top left, new data being created. Then i quit the app (rebuild/force quit), the data disappear, althought all data from background is stored. Am i missing some thing? Or it is a bug?

[2016-04-20 21:43] 3lvis commented on #46
Hi @alberttra,

Background save is the only recommended save because it does things in the background, main save will block your UI.

Anyway, when you run the app on the simulator and quit the simulator none of the UIApplicationDelegate methods get called. This methods take care of persisting the data into disk.

[code]

But if instead of force quitting the app, you do as any normal app does, tap

[2016-04-20 21:45] 3lvis commented on #46
I added some additional code to the demos so it show that if you are saving on the main thread, you probably want to call persist too (although I wouldn't recommend this, but I would recommend use background save at all times)

https://github.com/3lvis/DATAStack/commit/c8f7971380fb4347b8d4d98bbdbfd566ead1e063

[2016-04-20 21:45] #46 closed

[2016-04-20 21:48] alberttra commented on #46
i just tested on the real device, created some using main context, tap home twice and swipe up the app, data still disappear

[2016-04-20 21:48] alberttra commented on #46
forgot to say, thanks for a really fast response

[2016-04-20 21:53] 3lvis commented on #45
I guess you prefer returning error instead of `fatalError`? I went for doing the fatalError thing because it the save fails it's really hard to recover from that error.

What do you have in mind?

[2016-04-20 21:53] alberttra commented on #46
OK, I see it now, after calling `persistWithCompletion(_:)` right after `mainContext.save(),` the data is saved. Thanks you very much

[2016-04-20 21:54] 3lvis commented on #46
@alberttra that's only necesary for main save, background doesn't need that.

[2016-04-20 22:05] alberttra commented on #46
Yes, i don't have any issue with background context. But the thing is, i use `NSFetchedResultsController` to read data from Core Data using `mainContext`. Then i try to edit this data, which have relationship to another object. If i use background context instead of mainContext, then i will have the error: Illegal attempt to establish a relationship between different context, in this case, it will

[2016-04-20 22:08] justinmakaila commented on #45
Well, I’m trying to write RAC extensions for the library, and it’s a bit hard to determine whether something succeeds or not and what path to take with no context. I’d prefer the error, because IMO, it’s the developer’s choice on whether or not to fail, especially on something like a save.

Justin Makaila

Sent from
https://polymail.io/

On Wed, Apr 20, 2016 at 17:53 "Elvis Nuñez"

<
mailto:

I gu

[2016-04-20 22:09] justinmakaila commented on #45
Unless a failed save will corrupt the whole stack, I don't think it's the place of the framework to make that decision

[2016-04-21 05:39] 3lvis commented on #46
No worries :) Have a great weekend!

[2016-04-22 08:05] 3lvis commented on #45
Makes sense

[2016-04-22 08:06] 3lvis commented on #41
I guess we could fallback to a normal NSFetchRequest with `forin` under `iOS 8.0`

[2016-04-22 14:41] justinmakaila commented on #41
[code]

Tweaked it to this... Having an issue with the compiler, but that should be resolved soon.

[2016-04-22 14:46] justinmakaila commented on #41
...probably due to the fact that it says `NSBatchDeleteResult` rather than `NSBatchDeleteRequest`...

[2016-04-26 18:37] justinmakaila opened #48 "Data is never hitting persistent store"
I'm not sure what's going on, but I've been blocked by this issue for >= 48 hours. It appears as if none of the insertions on any context are making it to the persistent store coordinator. I've tried everything from changing the `mergePolicy`, to manually observing contexts. For whatever reason, changes made in a background context, even after invoking `persistWithCompletion`, never update the mai

[2016-04-27 05:20] 3lvis commented on #48
Hi Justin,

This looks really interesting. What were you trying to achieve when you got this bug?

[2016-04-27 14:19] justinmakaila commented on #48
@3lvis So, here's my use case:
In the application I'm building, a user can take a picture, which is transformed into a `Photo` entity on the main context. That photo entity is saved. When changes happen in a context (observing the notification that i put in my PR ;)) I kick of a process in a background context, which is managed by a `SyncManager`, but it's created from `DATAStack` (similar to the

[2016-04-27 15:16] justinmakaila commented on #48
@3lvis I'm putting together a better example. I'll fork and link to it.

[2016-04-27 15:39] justinmakaila commented on #48
https://github.com/justinmakaila/DATAStack.git

^ See the Swift example on master

[2016-04-27 17:18] justinmakaila commented on #48
Two things to try in the example:

Example One:
1. Create an object on the main context, and the background context
2. Press the "Edit" button
3. Check logs. It should read "Editing 1 users"
4. Save
5. Press the "Edit" button
6. Check logs. It should read "Editing 2 Users"
7. The UI should be out of sync, and the "Main" cell should not be updating

Example Two:
0. Drop the existing collection (eit

[2016-04-27 17:49] justinmakaila commented on #48
Making the new background context a child of the parent makes both examples work just fine, regardless of queue.

[2016-04-27 19:49] 3lvis commented on #48
Thanks for explaining your issue and for taking the time to make an example to show your issue. There was people reporting that mutating data in the main thread is not working correctly, personally I think this is something that shouldn't even be allowed, blocking the main thread is 📛 you could drop a few frames because of it 😱 Anyway, I understand that even though is not recommended, some develop

[2016-04-27 22:20] 3lvis commented on #41
I gave it a try at implementing this based on what you did, it looks more like Core Data sugar than something related to DATAStack. I see the need of having this helper methods but we have to find a balance and make sure that a helper method has dependencies on DATAStack, if it's agnostic, it should probably be placed somewhere else.

https://github.com/3lvis/DATAStack/pull/51

[2016-04-27 23:07] justinmakaila commented on #48
@3lvis But the issue isn't with the data created on the main context, it's with the data that's mutated in the background, and saved to the persistent store. The main context is never updated about these changes, and it appears as if there's no way to retrieve them.

[2016-04-28 06:11] 3lvis commented on #48
I see, thanks for clarifying that, I'll have a look.

[2016-04-28 17:52] 3lvis commented on #48
It works.

[code]

[2016-04-28 17:58] 3lvis commented on #45
Added in https://github.com/3lvis/DATAStack/pull/50

[2016-04-28 17:58] #45 closed

[2016-04-28 19:41] 3lvis commented on #41
Added to https://github.com/3lvis/SweetCoreData

[2016-04-28 19:41] #41 closed

[2016-05-06 12:35] 3lvis commented on #48
Closing since sample above fixes problem.

[2016-05-06 12:35] #48 closed

[2016-05-06 12:43] 3lvis commented on #46
Hi, btw since 5.0.0 calling persist is no longer needed. 🎉

https://github.com/3lvis/DATAStack/releases/tag/5.0.0

[2016-05-06 12:43] 3lvis commented on #28
Hi, btw since 5.0.0 calling `persist` is no longer needed. 🎉

https://github.com/3lvis/DATAStack/releases/tag/5.0.0

[2016-05-06 12:46] alberttra commented on #46
It's great. Thanks for the notification and also much more thanks for such a great framework 👍

[2016-05-13 10:23] wh33ler opened #56 "Crash when using Sync"
#I have quite a big sync process. After running it some times with different data I randomly get the following crash which doesn't happen when I get back to DataSTack version 4.3.0 and Sync version  1.6.5. Any Idea how to fix this?

0  CoreFoundation                 0x181c93070 -[__NSSetM addObject:] + 476
1  CoreFoundation                 0x181c8db00 -[NSMutableSet unionSet:] + 776
2  CoreData

[2016-05-13 16:36] 3lvis commented on #56
@wh33ler Hi,

Could you give some more information on how big is the data set and if it involves NSData, complex relationships or anything heavy?

I need to be able to reproduce the bug to figure out a fix.

[2016-05-14 06:20] 3lvis opened #57 "mergeChangesFromContextDidSaveNotification performance"
When `mergeChangesFromContextDidSaveNotification` happens with non faulted objects `_newChangedValuesForRefresh__` gets called to fault the objects before merging them, this could be happening on the main thread so it could help to do the following loop in order to bring faulted objects before performing the merge.

[code]

[2016-05-14 06:22] 3lvis commented on #56
Also, are this items being displayed on a NSFetchedResultsController? Or do you just a simple NSFetchRequest and store the results in an array?

[2016-05-14 21:42] 3lvis commented on #57
Tried this, haven't found any performance improvements.

[2016-05-15 10:01] zarv1k opened #59 "fetchBatchSize ignored while using DATAStack.mainContext in NSFRC"
I use DATASource for showing large (~50000 rows) data set and using DATAStack.mainContext in NSFRC.
When I set request.fetchBatchSize for optimizing memory usage purposes it is ignored somehow. And all 50000 rows loads into memory.

I research for the issue a little bit and found that there is an issue in Core Data when stack configured with usage of nested contexts. - http://openradar.appspot.com

[2016-05-15 11:46] 3lvis commented on #59
Hi, I did some profiling with my test project loading 62 700 rows.

https://github.com/3lvis/SyncPerformance

# No batch size, current stack
<img width="918" alt="screen shot 2016-05-15 at 13 43 23" src="https://cloud.githubusercontent.com/assets/1088217/15273776/43117f72-1aa3-11e6-8a2b-7acc5ea4df8c.png">

# Batch size, modified stack to make mainContext not use `parentContext`
<img width="771" al

[2016-05-15 12:02] 3lvis commented on #59
@zarv1k could you verify if by making this change locally things actually improve on your side?

https://github.com/3lvis/DATAStack/pull/60

[2016-05-15 12:29] zarv1k commented on #59
@3lvis I was made the exactly same changes before I had created this ticket. But I was not sure that such changes should be applied, because many other core data wrapper libraries are set up the main context in stack using parent/child pattern ([open issue](https://github.com/magicalpanda/MagicalRecord/issues/1141) in MagicalRecord for example).
However I just checked again and confirm that this c

[2016-05-15 19:51] 3lvis commented on #59
Cool! I'm glad this is fixed :)

[2016-05-15 19:51] #59 closed

[2016-05-16 05:53] 3lvis commented on #59
https://github.com/3lvis/DATAStack/releases/tag/5.2.1 Released 💥

[2016-05-17 08:04] wh33ler commented on #56
sorry for the late reply. The dataset is about 5k items big with a lot of relationships. I don't use any NSFetchedResultsController.
I reproduce is as follows.

1. Sync the big data into a clean db.
2. Use the data in several views and with RAC involved
3. Drop Database
4. Resync the big data
5. Crash while syncing

Hope this helps a bit.

[2016-05-17 09:17] 3lvis commented on #56
I did some performance improvements on https://github.com/hyperoslo/Sync/releases/tag/1.7.2, let me know if that fixes your issue.

I'm trying some things https://github.com/3lvis/SyncPerformance it would help a lot of you could find a way to reproduce it, otherwise I'm not sure how I can fix it.

[2016-05-17 12:11] wh33ler commented on #56
Ok. I went back to the current version and couldn't reproduce the crash anymore. Looks like the last release fixed the issue. What I noticed as well, is that the memory footprint on a very big sync call is much smaller then before. Maybe that plays into it. Thx for the help

[2016-05-17 12:11] #56 closed

[2016-05-17 15:21] 3lvis commented on #56
That's great news!!

[2016-05-20 08:05] 3lvis opened #61 "Add a way to handle migration errors"
When my app has problems migrating the data or adding the persistent store with type SQLite, then I get an error that I don't have a way to handle.

For example, in my app I only download new data when new data is available, I have a request for that, but when the migration fails all my data gets removed and I don't know that I have to request new data. It would be great if I was notified or had a

[2016-05-24 22:10] 3lvis commented on #57
Related to https://github.com/hyperoslo/Sync/issues/217

[2016-06-17 00:56] kanumuri9593 opened #62 "Fetch Data"
Hi I am using Sync and your framework to save my JSON data

how to fetch my data fro the coredata I see no instructions of fetching data using DATAStack

can you please help me out

thank you

[2016-06-20 11:51] 3lvis commented on #62
@kanumuri9593 Hi!

Just use a NSFetchRequest as you normally would do. This is just a Core Data wrapper.

[code]

[2016-06-20 11:52] #62 closed

[2016-07-15 08:27] OliverMahn-flinc opened #69 "add new initializer: init(managedObjectModel : NSManagedObjectModel)"
I need a way to initialize DATAStack with a given ManagedObjectModel as the model is not in bundle I  can access.

[2016-07-15 14:18] Sorix opened #70 "MainContext doesn’t update from background contexts"
I’m using NSFetchedResultsController and DATAStack. My NSFetchedResultsController doesn’t update my table if I make any changes in another contexts.

I use dataStack.mainContext in my NSFetchedResultsController. If I do any updates from mainContext everything is okay. But if I write such code for example:

[code]
NSFetchedResultsController doesn’t update cells. I will see updated data if I reload

[2016-07-15 14:31] 3lvis commented on #70
What, no! This should work. Let me check.

[2016-07-15 14:54] 3lvis commented on #70
I tried the TableSwift demo in DATASource, it does pretty much what you're doing right now. And it uses also the performInNewBackgroundContext method and everything seems to be working.

https://github.com/3lvis/DATASource/tree/master/TableSwift

Tap `+` to insert one new cell, and tap one of the cells to update it.

[2016-07-15 14:55] 3lvis commented on #70
Here's the save method used there

[code]

[2016-07-15 14:58] Sorix commented on #70
Yes, I’ve created new test simple project and it’s works. Don’t close ticket please yet, I will try to investigate why it’s not working at my app.

[2016-07-15 15:27] Sorix commented on #70
Finally I’ve got it, it’s not DATAStack problem. Just for information:

I’ve used such type of code in didChangeObject func in NSFetchedResultsControllerDelegate if NSFetchedResultsChangeType is **Move**:
[code]

And that’s incorrect (I don’t know why NSFetchedController generates move event without «reload data event» if data was changed), I’ve replaced it with and everything now is working.

[co

[2016-07-15 15:27] #70 closed

[2016-07-15 16:06] 3lvis commented on #70
Awesome! Let me know if I can help with anything else. Have a great weekend :)

[2016-07-16 10:35] 3lvis commented on #69
Hi @OliverMahn-flinc

That should already be possible, just provide the bundle where the model is stored.

[code]

[2016-07-16 10:41] 3lvis commented on #39
https://developer.apple.com/reference/coredata/nspersistentstorecoordinator/1653936-store_options?language=objc

[2016-07-18 04:03] jassimkm opened #73 "How to retreive Data using Datastack"
Hi I am new to swift i have stored my json into coredata using sync . But i don't know how can I retrieve datas using DATAStack . Kindly help

[2016-07-18 06:59] OliverMahn-flinc commented on #69
Hi, as I said, I can not access the model with a bundle. (Inside a private cocoa pod.) I tried various ways to access the model with bundle access and ended up implementing a method that returns the managed model. So the current initializer don't work for me.

[2016-07-18 07:00] 3lvis commented on #73
Hi @jassimkm!

The first rule of Core Data is to "never pass objects around threads" so if you're going to use this fetched data in your UI, use the `mainContext`. If you're using this data for processing it and then saving it back to Core Data use a `self.dataStack.performInNewBackgroundContext` block.

Fetching data in DATAStack is the same as fetching data in Core Data, checkout any tutorials o

[2016-07-18 07:00] #73 closed

[2016-07-18 07:02] 3lvis commented on #69
@OliverMahn-flinc Makes sense, I'll look into adding this method if possible. I'll update you if there are any issues with this :) Thanks for adding more info about it.

[2016-07-18 07:05] OliverMahn-flinc commented on #69
Thanks for re-opening. 👍

[2016-07-19 03:49] jassimkm commented on #73
Thank You

[2016-07-23 13:58] Sorix opened #74 "Create new main context"
Hello! Is it the way to create new context, that can be used in main thread in DATAStack? For example I have «Edit item» view, I load all data there in separate context and if user doesn’t click «Save» all changes in that separate context are reset.

I’ve found only way to create separate background context (`newBackgroundContext`), or create `newDisposableMainContext`, but it is detached from sav

[2016-07-24 08:02] 3lvis commented on #74
@Sorix Hi! I use `newDisposableMainContext` for this exact purpose. It's safer than having a different `mainContext` since it doesn't trigger any KVO calls that could affect your UI bound to `mainContext`. Then you could pass data to the main context like this.

[code]

[2016-07-24 08:05] 3lvis commented on #74
I hope this was useful!

[2016-07-24 08:05] #74 closed

[2016-07-24 11:55] Sorix commented on #74
It’s up to you to decide, but I think it will be better to give an option to use create new main or disposable context, because not everybody want to use Core Data → JSON → Core Data transformation and adding new module (and hyp has some issues too, it’s crashed on my application on Many-To-Many relations often).

You can add something like this (haven’t tested it, just for example) and that will

[2016-08-20 09:16] Sorix commented on #74
@3lvis I finally agree with you, there is no way no make new mainContext() and write data to it from UI, I have struggled with it for 2 days. We can write data to that main context safely, but when we will trigger save() UI may freeze while Core Data making HDD/SSD operations.

Only way is to «save» context from background thread, but we can’t do so because we’ve create context in main thread.

It

[2016-08-20 11:10] 3lvis commented on #74
@Sorix I'm happy that there are developers like you, that take some time to understand the pros and cons of adding things to an open source library. Many would have expected the change to get added, then realize that this doesn't help them and never write back.

I remember hitting a similar spot as the one you mentioned. At the time my best solution was the one that I mentioned, Core Data → JSON →

[2016-08-25 08:19] 3lvis opened #79 "Issue with the drop method"
The first part of the `drop()` method has this:

[code]

It should probably go through all the persistentStores instead of just removing the last one.

[2016-08-26 09:32] 3lvis commented on #79
Fixed on https://github.com/3lvis/DATAStack/pull/80 but I'm keeping this issue open because it needs a unit test.

[2016-09-16 10:50] duzvik opened #83 "EXC_BAD_ACCESS on main thread"
Hello,
Any ideas this code fails(EXC_BAD_ACCESS on save()), but with performBlock working OK?

[code]

[2016-09-16 11:02] 3lvis commented on #83
I think your problem is that you're fetching the item in the main thread and storing it in a background thread, so it gets deallocated.

Could you try this instead?

[code]

In general lines use

[code]

The other method is reserved for very special cases such as usage in NSOperation where everything is concurrent.

[2016-09-16 11:02] #83 closed

[2016-09-16 11:03] 3lvis commented on #83
Hopefully this fixes your issue, otherwise let me know.

Have a nice weekend!

[2016-09-22 21:59] Sorix opened #86 "Change throws from Notifications"
Throws from notifications is very hard to debug -- XCode 8 doesn't show exact place where exception was raised, you see only EXC_BAD_ACCESS.

Example throw:
[code]

My main goal is to give an ability to developer to catch a bug with correct error message and full method call history (throw won't give call stack correctly).

I don't know if throw from notification will crash binary on release build

[2016-09-26 23:48] jimijon opened #87 "Is it possible to enable "lightweight" migrations?"
Where would I init with the proper dictionary?

    [NSMigratePersistentStoresAutomaticallyOption: true,
           NSInferMappingModelAutomaticallyOption: true]

[2016-10-09 09:38] 3lvis commented on #87
Hi @jimijon,

Should be possible, yes :)

[2016-10-09 09:40] 3lvis commented on #87
It's already enabled by default.

https://github.com/SyncDB/DATAStack/blob/199b560e92d7adc0c21404620501ceab232ec496/Source/DATAStack.swift#L396

[2016-10-09 09:40] #87 closed

[2016-10-09 09:41] 3lvis commented on #86
Using `throw` for failures is best practice. Using something else would be a regression more than an improvement in my opinion.

https://developer.apple.com/library/content/documentation/Swift/Conceptual/Swift_Programming_Language/ErrorHandling.html

[2016-10-09 09:42] #86 closed

[2016-10-09 09:45] 3lvis commented on #79
Is not gonna be possible to reproduce this since we don't expose the NSPersistentStoreCoordinator and we only add one persistent store.

[2016-10-09 09:45] #79 closed

[2016-10-09 10:05] 3lvis commented on #57
Fixed on https://github.com/SyncDB/Performance

[2016-10-09 10:05] #57 closed

[2016-10-09 10:06] 3lvis commented on #57
Basically the solution is to use `newNonMergingBackgroundContext`

[2016-10-09 10:10] 3lvis commented on #69
I know it's a long time since you requested this, but I hope it fixes the problem now.

[2016-10-09 10:10] #69 closed

[2016-10-09 12:20] #36 closed

[2016-10-09 13:29] 3lvis opened #93 "Improve logic for handling migrations"
https://github.com/hwaxxer/BookMigration/commit/baa5014391081e7b74223250281e3cad90603c56

[2016-10-09 13:29] #93 closed

[2016-10-09 13:50] 3lvis commented on #61
Can't trigger a migration error from unit tests 😞

[2016-10-09 13:51] 3lvis commented on #61
It gets processed through lightweight migrations.

[2016-10-10 05:48] OliverMahn-flinc commented on #69
thanks!

[2016-11-30 08:59] MiaShopgal opened #97 "mapping table for DATAStack tag with iOS version"
Please kind guide us if there's a table indicated which version of DATAStack should be used for iOS 8.x
We're using following libraries in iOS 9.x which is awesome
- Sync (1.15.0):
    - DATAStack (~> 5.4.2)
    - NSManagedObject-HYPPropertyMapper (~> 4.1.4)

It gets messy when comes to iOS 8.x
We check the .sqlite and data were all intact, but the value are all NULL with executeFetchRequest

[2016-11-30 23:03] 3lvis commented on #97
Hi @MiaShopgal, this is very strange since there shouldn't be any issues with iOS 8. Could you help me providing a sample project that I can use to reproduce your issues?

[2016-12-01 02:39] MiaShopgal commented on #97
Hi 3lvis,
Thanks for willing to figure out the issue. I fork your sample project and did a little change to reproduce it. Please find it here [https://github.com/MiaShopgal/AppNetDemo/tree/sync_1_on_ios_8](url)

[2016-12-30 06:52] MiaShopgal commented on #97
Hi @3lvis,
Wish you had a happy Merry Christmas :)
I wonder if the sample project I provided could be reproduced the issue from your side ?
It does from mine, please let me know if you need anything to know the issue better.

Wish you a happy new year ~

[2017-01-14 14:55] JeffESchmitz opened #101 "Update 'Running the demos' instructions"
It appears that this repo has moved away from using CocoaPods.

If so, the 'Running the demos' install dependencies needs to be updated.

I was not able to run the Carthage build, not sure if it was an issue with Carthage on my machine or not

Thanks - great repo. I'm using both DATAStack and Sync on a project and has great simplified my CoreData life 👍 :)

Jeff

[2017-01-14 15:20] 3lvis commented on #101
Hi Jeff,

It's so nice to hear that these projects are helping you. Big hug all the way from Norway.

By the way, I updated the README so it shows how to run the demos, long story short, just clone and run!

https://github.com/SyncDB/DATAStack/blob/master/README.md#running-the-demos

[2017-01-14 15:20] #101 closed

[2017-01-14 16:02] JeffESchmitz commented on #101
Hi Elvis,

Fantastic news and fantastic work.

DATAStack is "standard" in my CoreData toolbox now. Really pleased how it brings sanity to the context's (read-Main/write-Background). Wished I'd have found it sooner.

Cheers,
Jeff

[2017-02-02 13:31] AndrewScherba opened #102 "Background to main context finish notification."
How I can know when data which was save in background is ready for use in main context (thread)?

[2017-02-02 14:33] 3lvis commented on #102
Hi @AndrewScherba,

As soon as you call the context's save method it should be available in the main thread.

[code]

[2017-02-02 15:03] AndrewScherba commented on #102
emm so all object is sync and ready to use in mains thread after save?? but what about merge and save main context?

[2017-02-03 06:33] 3lvis commented on #102
There's an observer for the created background thread: https://github.com/SyncDB/DATAStack/blob/master/Source/DATAStack.swift#L241

So when you save the observer will be called and will merge things in the main thread. https://github.com/SyncDB/DATAStack/blob/master/Source/DATAStack.swift#L351-L361

[2017-03-20 11:55] pgawlowski opened #103 "Optional relationship not returning data"
Let's assume core data entity structure like this:

[code]

There is CartEntry with product in my Cart - coreData seems to be ok.
I'm fetching Cart and as a result I've got:

[code]

However when I changed
[code]
Everything seems to be fine - fetch result got also products.

[2017-03-20 12:05] 3lvis commented on #103
Hi,

I don't follow, could you post a pic of your Core Data model?

[2017-03-20 12:07] pgawlowski commented on #103
![screen shot 2017-03-20 at 13 07 01](https://cloud.githubusercontent.com/assets/9845024/24099148/2b1ec352-0d6e-11e7-90d9-1f31b297f1aa.png)

[2017-03-20 12:10] 3lvis commented on #103
Thanks! So, the problem here is that after inserting a few cart entries to a cart, doing:

[code]

Doesn't print any of the cart entries, right?

[2017-03-20 12:15] pgawlowski commented on #103
Nope. Cart entries are ok. In Core Data Editor I can see proper cartEntries as well as product in every cartEntry - I'm sure that relation exists.

However
`let result = cart.hyp_dictionary(using: .snakeCase, andRelationshipType: .array)
`
doesn't print any products in cart entry unless I uncheck optional for product reference in CartEntry entity.

Right now I'm trying to reset whole DB and check

[2017-03-20 12:17] 3lvis commented on #103
I see, that's very strange.

[2017-03-20 12:18] pgawlowski commented on #103
After reset it's working perfect. I will leave this issue open and try to reproduce this problem in another 24h :) Else I'll just close this issue.

[2017-03-20 12:19] 3lvis commented on #103
Awesome. Gonna put my timer for 24 hours :P

[2017-03-21 09:07] #103 closed

[2017-06-06 11:20] webersson opened #104 "OSX"
Could anyone tell me how to setup DATAStack on a OS X project?
How to set the AppDelegate File?

I´m trying for days now.
There is no tutorial to be found.

Thank you so much!

[2017-06-07 14:31] 3lvis commented on #104
Gonna close this one and keep track in https://github.com/SyncDB/Sync/issues/403

[2017-06-07 14:31] #104 closed

[2017-06-15 16:24] katunch opened #105 "How to use two stack instances with the same model?"
Hi I've got the following model (for example)
![screen shot 2017-06-15 at 18 18 14](https://user-images.githubusercontent.com/1769636/27191099-066ef450-51f7-11e7-9316-48cf97e378ff.png)

Then in my controller i define the data stack like this:
[code]

Later I'd like to do a count on the Product entity like this:
[code]

That works as expected!

Now I'd like to do some kind of archive with the exact

[2017-07-19 12:14] 3lvis commented on #61
Doing some spring cleaning, please open a new issue if you still want to do this.

[2017-07-19 12:14] #61 closed

[2017-08-24 15:55] TheSwiftyCoder opened #107 "Using with FetchRequestTemplate"
Looking for help on how I would use this with FetchRequestTemplate?

Thanks

[2017-08-24 20:29] 3lvis commented on #107
Hi! This is the first time I hear about it. Are you talking about this? https://developer.apple.com/documentation/coredata/nsmanagedobjectmodel/1506369-fetchrequesttemplate

[2017-08-25 08:13] theSwiftyCoder commented on #107
Yes - Projects have a bunch of modelled queries that I would like to add without rewriting, is this possible via DataStack?

[2017-08-26 08:32] 3lvis commented on #107
The model is private https://github.com/3lvis/DATAStack/blob/master/Source/DATAStack.swift#L26 so probably not possible since we would have to make it public.

[2017-08-26 08:33] 3lvis commented on #107
Since DataStack is just basically one file I would recommend you to make a fork and tweak it so the model is public.

[2017-09-15 08:04] #107 closed

[2017-09-24 05:20] falkobuttler opened #108 "Swift 4 support?"
Hey @3lvis, do you intent do add Swift 4 support? Happy to help if necessary.

[2017-09-24 08:28] 3lvis commented on #108
https://github.com/3lvis/DATAStack/releases/tag/8.0.0

Done!

[2017-09-24 08:28] #108 closed

[2017-09-24 16:21] falkobuttler commented on #108
Awesome, thank you!

Sent from my iPhone 7 Plus

[2017-10-11 07:34] batjo commented on #74
Hi @Sorix @3lvis, thanks for the explanation, makes it all clear. The only thing I'm struggling with is how to make a relations between objects in the `mainContext` and in the `disposableMainContext`.

For example:

[code]

[2017-10-11 07:42] 3lvis commented on #74
@batjo Hi Bart! What about setting the relationship after the transaction is confirmed?

[2017-10-11 07:42] 3lvis commented on #74
Otherwise you might have to make a copy of all the relationships as well.

[2017-10-11 16:34] jim-dev2rights opened #110 "Travis failiure on swift 4"
Hi 3lvis,

Recently upgraded our project to swift 4 and 8.0 if datastack and everything is fine. However when i go to build the project on travis i get the following errors:

    /Pods/Sync/Source/DataStack/DataStack.swift:42:64: argument of '#selector' refers to instance method 'mainContextDidSave' that is not exposed to Objective-C
        NotificationCenter.default.addObserver(self, selector: #

[2017-10-11 19:21] batjo commented on #74
Thanks! It sounds a bit complicated, since I want the UI to reflect the changes of the user so setting if after the transaction would require to store all the temporary changes. I was reading a bit more about it and found this article: https://medium.com/companydev/getting-sexy-with-core-data-b009fab6e9b1

From the post:

This sounds as a solution to the problem don't you think? If you agree I sho

[2017-10-11 20:48] 3lvis commented on #74
@batjo Sounds like something that we are already doing. Might be worth to take a look if this is possible with the current setup.

[2017-10-12 09:38] jim-dev2rights commented on #110
To add to this i have confirmed that 8.0.0 is installed on travis and a, wondering if its something to do with the Swift 3 @obj Inference on Travis. Will investigate and feedback here anyway.

[2017-10-12 09:44] jim-dev2rights commented on #110
To add to this i have confirmed that on Travis 8.0.0 was installed via cocoapods. May

[2017-10-12 11:12] jim-dev2rights commented on #110
Ok managed to recreate it by forcebaly rolling back the Datastack pod to 6.2.0 and trying to compile as swift 3.2 so something weird is happening possibly on travis side and the actual pods are incorrect even though it is telling me that 8.0.0 was installed.

[2017-10-12 11:41] jim-dev2rights commented on #110
Im closing this as the issue was unrelated to DATAStack and related to Travis

[2017-10-12 11:41] #110 closed

[2017-10-12 16:09] 3lvis commented on #110
Hi @jim-dev2rights. Thanks for reporting this issue. Could you share your .travis.yml?

[2017-10-19 08:35] jim-dev2rights commented on #110
I unfortunately can't as it is under NDA. However i can say what fixed it.

Made sure that in the local .swift-version file matched version 4 as it is in the datastack repo. And used:

    osx_image: xcode9
    sudo: required

In my Travis YML. Also made sure that i was pulling the latest version in my podfile

    pod 'DATAStack', '~> 8'

That seemed to get it to build.

[2017-10-23 18:04] 3lvis commented on #74
Clarifying: We already do a similar set up than what the post says, what I meant is that might be interesting to see if making a child context could work better than having the disposable context.

[2018-01-24 10:06] hei9gag opened #111 "Crash DATAStack.backgroundContextaDidSave"
Hi, I got some crashes when using DATAStack and Instabug together. It seems the crash related to DATAStack listen to all NSManagedObjectContext notification thrown by other parties. And cause bad memory address. Do you have any ideas how to fix it? Many thanks.

![screen shot 2018-01-24 at 10 02 18 am](https://user-images.githubusercontent.com/18651033/35326312-4297d228-0131-11e8-83c1-2d77bd4e409b

[2018-01-25 09:37] 3lvis commented on #111
Hi @hei9gag,

I'm not sure what's going on here. DATAStack doesn't listen to all the notifications. It listens to notifications for the NSManagedContext that's been saved.

### [For example here](https://github.com/3lvis/DATAStack/blob/master/Source/DATAStack.swift#L40)

[code]

If you see in `NotificationCenter.default.addObserver` we pass the context as the object. This means that only notificat

[2018-01-26 02:08] hei9gag commented on #111
Thanks @3lvis I have also checked the code and the notification part looks good to me too. I will check with Instabug again.

[2018-01-26 02:08] #111 closed

[2018-01-26 05:39] 3lvis commented on #111
No problems, have a nice day and good luck!

[2018-01-31 21:05] 3lvis commented on #111
This might be related https://github.com/3lvis/DATAStack/pull/112

[2018-02-01 03:22] hei9gag commented on #111
Thanks it fixed the crash problem. Learn something new again.

[2018-04-13 13:07] kaszap82 opened #113 "iCloud backup issue"
First of all sorry for my bad Engish.

I have a project with DATAStack. A lot of users have a problem, when they set a new iPhone from iCloud backup. The data strored in CoreData doesn't exists on the new phone. Should I have to set something to "tell" Apple, that they should backup the sql file? Did you hear about similar issues?

Thanks for your help!

[2018-04-15 05:26] 3lvis commented on #113
Hi @kaszap82,

This was a conscious choice, I experienced many rejections based on Apple telling us that I shouldn't be backing up sqlite, so I set a flag so this doesn't happen.

https://github.com/3lvis/DATAStack/blob/master/Source/DATAStack.swift#L449-L456

<img width="1416" alt="screen shot 2018-04-15 at 7 26 19 am" src="https://user-images.githubusercontent.com/1088217/38775265-53cb830a-407e-

[2018-04-15 05:27] 3lvis commented on #113
This was some time ago, I believe there's approved alternatives by Apple to backup your data, if you find something I'll be glad to include it in the library :)

[2018-12-15 16:40] sverin commented on #113
Isn't this only true for Default Data Stores, shipped with the app? It should not be applied to user data stores. If our users buy a new iPhone or iPad and restore from a iCloud backup they would expect that the data for our app was restored as well.

At least, could it be an option when we initialize the data stack so that we could decide by our self if the flag should or shouldn't be used.

[2018-12-17 11:50] 3lvis commented on #113
That's a good point, it can be made optional. Any chance you could look into it? 🙏

[2018-12-17 15:41] sverin commented on #113
Sure, I can look into it. Don’t know how much time I have before the holidays but I will do it as soon as I can.

[2018-12-17 19:00] sverin commented on #113
@3lvis Should it be excluded or included in the backup by default? I would say it should be included in the backup. So that you have to specify if you have a default store that should be excluded.

[2019-01-08 15:40] 3lvis commented on #113
Merged!

[2019-01-08 15:40] 3lvis commented on #113
Let me know if it works as expected, I made it excluded by default to not break existing functionality.

Thanks for your contribution 🎉

[2019-01-08 15:40] #113 closed

[2019-01-08 15:42] 3lvis commented on #39
Closing until someone else requests this feature.

[2019-01-08 15:42] #39 closed

[2019-01-08 15:42] 3lvis commented on #97
Closing until someone else requests this feature.

[2019-01-08 15:42] #97 closed

[2019-01-08 15:42] 3lvis commented on #102
Closing until someone else requests this feature.

[2019-01-08 15:42] #102 closed

[2019-01-08 15:43] 3lvis commented on #105
Closing since this issue seems outdated.

[2019-01-08 15:43] #105 closed

[2019-04-07 07:32] zanderxyz opened #117 "Datastack backup is empty"
Hi,

I am using a DataStack created as follows:
```self.dataStack = DATAStack(modelName: "money", isExcludedFromBackup: false)```

This should then be included in iTunes/iCloud backups. I wanted to check this, so I downloaded iPhone Backup Extractor from here (https://www.iphonebackupextractor.com/blog/ios-data-recovery-apps-data-iphone-backups/), made a new iTunes backup and then checked the back

[2019-04-09 08:01] 3lvis commented on #117
Hi @zanderxyz,

Let me double check what's happening :)

[2019-06-21 13:08] VitaliyR commented on #102
It would be good to have this feature.

In your example where comment `READY` is located - the updated object isn't updated in the main thread - only after a short while.

[2019-06-26 16:50] SolorzanoJose opened #120 "Can't execute any requests"
My data model is being created, but when I try to write to it I get a nilError, this happens with a background context and with a main thread context, is there anything specific I should be looking into? I just copied the example code

Delete requests produce nilError, write requests fail silently

[2019-07-22 11:20] gurhub opened #121 "Swift version error on Objective-C base project"
Hi,

I try to install the library via Cocoapods (in a freshly created Objective-C demo project) and I got the error below:

Unfortunately couldn't install the library.

Best